<div class="mt-4">
    <h3>
        Cập nhật khoá học
    </h3>

    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" >Tên khoá học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>

        <div class="mb-3">
            <label for="desciption" >Mô tả</label>
            <textarea class="form-control" id="desciption" name="description">{{course.desciption}}</textarea>
        </div>

        <div class="mb-3">
            <label for="videoID" >Video ID</label>
            <input type="text" class="form-control" value="{{course.videoID}}" id="videoID" name="videoID">
        </div>

        <div class="mb-3">
            <label for="level" >Trình độ</label>
            <input type="text" class="form-control" value="{{course.level}}" id="level" name="level">
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>